.a {
    width: 600px;
    height: 100px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;


}
.ro {
    width: 600px;
    display: flex;

}

.b {
    width: 450px;
    height: 400px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.c {
    width: 150px;
    height: 400px;
    background: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;

}


.heading {
    width: 405px;
    height: 100px;
    background: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;

}

.menu {
    width: 150px;
    height: 305px;
    background: peru;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.main{
    display: flex;
}
.un-post {
    margin-bottom: 5px;
}

.post {
    width: 250px;
    height: 150px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

}
.bottom {
    width: 405px;
    height: 100px;
    background: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ws {
    margin-top: 20px;
    width: 310px;
    height: 100px;
    background: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bbs {
    display: flex;
    margin-bottom: 5px;
}

.bs {
    margin-top: 5px;
    width: 100px;
    height: 100px;
    background: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.cs {
    width: 310px;
    height: 100px;
    background: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}