#container {
    background: gray;
    display: flex;
}

.a {
    width: 800px;
    height: 200px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ro {
    display: flex;
}
.b {
    width: 200px;
    height: 200px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c {
    width: 200px;
    height: 200px;
    background: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
}